<html>
<head>
</head>
<body>
<h1>{{ header }}</h1>
<table>
<tr>
<td>{{ theader.0 }}</td>
<td>{{ theader.1 }}</td>
<td>{{ theader.2 }}</td>
<td>{{ theader.3 }}</td>
<td>{{ theader.4 }}</td>
</tr>
<form action="" method="get">
<tr>
<td> <input name="member" type="text"></td>
<td> <input name="date" type="date"></td>
<td> <input name="ontime" type="time"></td>
<td> <input name="offtime" type="time"></td>
<td> <input name="notes" type="textarea"></td>
<td> <input type="submit">OK</input></td>
</tr>
</form>
</table>
</body>
</html>
